<!DOCTYPE html>
<html>
<head>
    <title>Prediction Form</title>
</head>
<body>
    <h1>Prediction Form</h1>
    <form action="/predict" method="post">
        <label for="map">Map:</label>
        <input type="text" id="map" name="map" required><br><br>
        <label for="team">Team:</label>
        <input type="text" id="team" name="team" required><br><br>
        <label for="round_kills">Round Kills:</label>
        <input type="number" id="round_kills" name="round_kills" required><br><br>
        <label for="survived">Survived:</label>
        <input type="number" id="survived" name="survived" required><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
